.Card {
	border: none;
	height: 100%;
}

.Image {
	object-fit: cover;
	height: 300px;
}

.Col {
	max-width: 25%;
}

@media only screen and (max-width: 1150px) {
	.Row {
		flex-direction: column;
	}

	.Col {
		max-width: 40%;
		margin: auto;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 1000px) {
	.Col {
		max-width: 60%;
	}
}

@media only screen and (max-width: 767px) {
	.Col {
		max-width: 90%;
	}	
}