/**
 * @brief App styling file
 * 
 * @file App.css
 * @author Maxim Plička (xplick04, 231813)
 * @date 6.12.2022
 */

body::-webkit-scrollbar {
    display: none;
}

.navbar 
{
    box-shadow: 0px 5px 5px 0px rgba(227,227,227,1);
    border-bottom: 1px solid #DFDFDF;
}

.nav-button 
{
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    border: 2.2px solid white;
    padding: 3px;
}

.nav-button:hover
{
    color: black;
    padding: 3px;
    border: 2.2px solid black;
    cursor: grab;
}

.nav-button-a 
{
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    border: 2.2px solid black;
    padding: 3px;
}

.nav-button-a:hover
{
    color: black;
    padding: 3px;
    border: 2.2px solid black;
    cursor: grab;
}

.login-text
{
    font-size: 20;
    font-weight: bold;
    color: black;
}

.submit-button
{
    background-color: white;
    border: none;
    min-height: 20px;
    height: 25px;
    font-weight: bold;
    color: #1804FA;
}

.hyper-text
{
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    color: #1804FA;
}

.hyper-text:hover
{
    color: #1804FA;
    cursor: pointer;
}

.homePage-content {
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px rgba(173, 173, 173, 0.8);
    border: 1px solid #DFDFDF;
}

.clear-card {
    border: none !important;
    background-color: white !important;
    position: relative;
}

.socials {
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.socials a
{
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.socials a:hover
{
    color: black;
}

.table-row {
    border-bottom: 1px solid black;
}

.table-row:nth-child(2n) {
   background-color: #FFF9F3;
}

.table-row:last-child {
    border-bottom: none;
}

.empty-request-font {
    font-weight: bold;
    font-size: 18px;
}

.schedule {
    border:2px solid black !important;
    background-color: #FFF9F3 !important;
    padding: 5px !important;
}


.schedule-container::-webkit-scrollbar {
    background-color: white;
    border: 1px solid black;
    height: 13px;
    width: 14px;
    border-radius: 5px;
}

.schedule-container::-webkit-scrollbar-thumb {
    background-color: #e7e0d9;
    background-clip: padding-box;
    border: 1px solid black;
    width: 12px;
    border-radius: 4px;
}

.reservation {
    border:2px solid black !important;
    background-color: #FFF9F3 !important;
    padding: 5px !important;
}

.reservation-not-confirmed {
    color: grey;
    border:2px solid grey !important;
    background-color: #FFF9F3 !important;
    padding: 5px !important;
}

.mywalks-walk {
    border-bottom: 1px solid black;
}

.mywalks-walk:last-child {
    border-bottom: none;
}

.mywalks-walk:nth-child(2n) {
    background-color: #FFF9F3 !important;
}

.mywalks-footer {
    background-color: white !important;
    font-weight: bold !important;
    border: none !important;
}

.bold-font {
    font-weight: bold !important;
}








